In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [70]:
df = pd.read_csv('S02-hw-dataset.csv')
df

    user_id    age country  purchases  revenue
0         1   25.0      FR          7      749
1         2   24.0      RU          5     1115
2         3   52.0      FR          7      399
3         4   31.0      RU          6      654
4         5    NaN      DE          6     1296
5         6  120.0      FR         -1      785
6         7   46.0      RU          0        0
7         8   28.0      CN          2      456
8         9   39.0      US          4      980
9        10   24.0      RU          7      511
10       11   24.0      US          4        0
11       12   20.0      CN          7     1652
12       13    NaN      US          9      630
13       14   36.0      DE          9     2358
14       15   57.0      FR          7      693
15       16   22.0      FR          3      183
16       17   32.0      FR          6     1608
17       18   24.0      RU          0        0
18       19   47.0      RU          3      432
19       20   31.0      RU          2      442
20       21    5.0      RU          8     1488
21       22   33.0      FR          6      546
22       23   42.0      US          4      904
23       24   32.0      DE         11     2475
24       25   21.0      RU          5      650
25       26   35.0      US          5      330
26       27   54.0      RU          6     1302
27       28   43.0      US          3      828
28       29   47.0      FR          6     1440
29       30   52.0      DE          6      702
30       31   55.0      FR          1      142
31       32   26.0      RU          6     1080
32       33   23.0      US          5      445
33       34   28.0      FR          0        0
34       35   45.0      FR          2      404
35       36   51.0      US          3      342
36       37   18.0      DE          4     1104
37       38   35.0      DE          3      738
38       39   39.0      FR          7     1162
39       40   34.0      RU          7     2086
40       10   24.0      RU          7      511

In [71]:
df.head(7)

   user_id    age country  purchases  revenue
0        1   25.0      FR          7      749
1        2   24.0      RU          5     1115
2        3   52.0      FR          7      399
3        4   31.0      RU          6      654
4        5    NaN      DE          6     1296
5        6  120.0      FR         -1      785
6        7   46.0      RU          0        0

In [72]:
df.tail(7)

    user_id   age country  purchases  revenue
34       35  45.0      FR          2      404
35       36  51.0      US          3      342
36       37  18.0      DE          4     1104
37       38  35.0      DE          3      738
38       39  39.0      FR          7     1162
39       40  34.0      RU          7     2086
40       10  24.0      RU          7      511

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    41 non-null     int64
 1   age        39 non-null     float64
 2   country    41 non-null     object
 3   purchases  41 non-null     int64
 4   revenue    41 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.7+ KB

In [74]:
df.describe()

         user_id         age  purchases      revenue
count  41.000000   39.000000  41.000000    41.000000
mean   20.243902   36.512821   4.829268   820.048780
std    11.659289   18.304259   2.710189   613.127269
min     1.000000    5.000000  -1.000000     0.000000
25%    10.000000   24.000000   3.000000   432.000000
50%    20.000000   33.000000   5.000000   693.000000
75%    30.000000   45.500000   7.000000  1115.000000
max    40.000000  120.000000  11.000000  2475.000000

In [75]:
df['user_id'].isna().mean()

np.float64(0.0)

In [76]:
df['age'].isna().mean()

np.float64(0.04878048780487805)

In [77]:
df['purchases'].isna().mean()

np.float64(0.0)

In [78]:
df['revenue'].isna().mean()

np.float64(0.0)

In [79]:
#  ,       "age"

In [80]:
df = df.dropna() #

In [81]:
df[df.duplicated()]

    user_id   age country  purchases  revenue
40       10  24.0      RU          7      511

In [82]:
# 40-

In [83]:
df = df.drop_duplicates() #

In [84]:
df[df['age'] < 18]
#  ,      18,   ,

    user_id  age country  purchases  revenue
20       21  5.0      RU          8     1488

In [85]:
df = df[df['age'] >= 18] #  ,     18

In [86]:
df[df['purchases'] < 0]
#  ,   -   , -

   user_id    age country  purchases  revenue
5        6  120.0      FR         -1      785

In [87]:
df = df[df['purchases'] >= 0]
#  ,   -   , -

In [88]:
df[df['age'] > 100]
# ,

Empty DataFrame
Columns: [user_id, age, country, purchases, revenue]
Index: []

In [89]:
df = df[df['age'] <= 100] #  ,

In [90]:
df[(df['purchases'] > 0) & (df['revenue'] == 0)]
# ,   -   ,

    user_id   age country  purchases  revenue
10       11  24.0      US          4        0

In [91]:
df = df.drop(10)

In [92]:
df[df['revenue'] < 0]
# ,  ,

Empty DataFrame
Columns: [user_id, age, country, purchases, revenue]
Index: []

In [93]:
"""    ,      'age',    4  12 .
 40  .   5   100,    ,   -
 = -1,    .   20   18.    10   ,    ,
   . """

"    ,      'age',    4  12 .\n 40  .   5   100,    ,   -\n = -1,    .   20   18.    10   ,    ,\n   . "

In [95]:
df

    user_id   age country  purchases  revenue
0         1  25.0      FR          7      749
1         2  24.0      RU          5     1115
2         3  52.0      FR          7      399
3         4  31.0      RU          6      654
6         7  46.0      RU          0        0
7         8  28.0      CN          2      456
8         9  39.0      US          4      980
9        10  24.0      RU          7      511
11       12  20.0      CN          7     1652
13       14  36.0      DE          9     2358
14       15  57.0      FR          7      693
15       16  22.0      FR          3      183
16       17  32.0      FR          6     1608
17       18  24.0      RU          0        0
18       19  47.0      RU          3      432
19       20  31.0      RU          2      442
21       22  33.0      FR          6      546
22       23  42.0      US          4      904
23       24  32.0      DE         11     2475
24       25  21.0      RU          5      650
25       26  35.0      US          5      330
26       27  54.0      RU          6     1302
27       28  43.0      US          3      828
28       29  47.0      FR          6     1440
29       30  52.0      DE          6      702
30       31  55.0      FR          1      142
31       32  26.0      RU          6     1080
32       33  23.0      US          5      445
33       34  28.0      FR          0        0
34       35  45.0      FR          2      404
35       36  51.0      US          3      342
36       37  18.0      DE          4     1104
37       38  35.0      DE          3      738
38       39  39.0      FR          7     1162
39       40  34.0      RU          7     2086

In [94]:
df['country'].value_counts()

country
FR    11
RU    11
US     6
DE     5
CN     2
Name: count, dtype: int64

In [103]:
df['purchases'].value_counts()

purchases
7     7
6     7
3     5
5     4
2     3
0     3
4     3
9     1
11    1
1     1
Name: count, dtype: int64

In [98]:
group = df.groupby('country')
group.size()

country
CN     2
DE     5
FR    11
RU    11
US     6
dtype: int64

In [99]:
group['purchases'].mean()

country
CN    4.500000
DE    6.600000
FR    4.727273
RU    4.272727
US    4.000000
Name: purchases, dtype: float64

In [100]:
group['purchases'].sum()

country
CN     9
DE    33
FR    52
RU    47
US    24
Name: purchases, dtype: int64

In [101]:
group['revenue'].mean()

country
CN    1054.000000
DE    1475.400000
FR     666.000000
RU     752.000000
US     638.166667
Name: revenue, dtype: float64

In [102]:
group['revenue'].sum()

country
CN    2108
DE    7377
FR    7326
RU    8272
US    3829
Name: revenue, dtype: int64

In [ ]:
'''     ,     FR  RU.     :  
 ,      DE;     FR.
'''